@supports (-webkit-touch-callout: none) {
 input {
 margin-top: -10px;
}
}
body {
    margin: 0;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    background-color: whitesmoke;
}
img {
    width: 128px;
    height: 128px;
    border-radius: 64px;
}
h1 {
    font-size: inherit;
    text-transform: uppercase;
    position: absolute;
    left: 160px;
    top: 44px;
    margin: 0;
}
a, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
}
input {
    font-family: inherit;
    font-size: inherit;
    border: 0;
    border-radius: 10px;
    padding-left: 20px;
    width: 200px;
    color: grey;
    background-color: whitesmoke;
    -webkit-appearance: none;
}
form {
    margin-bottom: 10px;
}
.button {
    width: calc(100% - 20px);
    margin: 10px;
    height: 128px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 64px;
    cursor: pointer;
    padding: 0;
}
.item {
    width: 100%;
    line-height: 128px;
    text-align: center;
    border-top: 2px solid whitesmoke;
    background-color: white;
    display: inline-block;
}
.item:hover {
    opacity: 0.5;
}
.menubt {
    background-color: whitesmoke;
    cursor: pointer;
}
.header {
    width: calc(100% - 20px);
    height: 128px;
    background-color: white;
    position: relative;
    padding: 10px;
}
.container {
    width: calc(100% - 40px);
    margin: 10px;
    height: 128px;
    position: relative;
    background-color: white;
    border-right: solid 20px;
    border-radius: 64px 0 0 64px;
}
.title {
    position: absolute;
    top: 5px;
    left: 150px;
}
.price {
    position: absolute;
    top: 5px;
    right: 10px;
}
.position {
    position: absolute;
    bottom: 5px;
    left: 150px;
    color: grey;
}
.action {
    position: absolute;
    bottom: 5px;
    right: 10px;
}
.shared {
    top: 33px !important;
}
